<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	 <typeAliases>
		<typeAlias type="com.kami.kami.vo.Employee" alias="Employee" />
		
	</typeAliases>
	<mappers>
		<mapper resource="Mapper/adminMapper.xml" />
	</mappers> 
</configuration>
