@charset "UTF-8";
.bolder{
	font-weight: bolder;
}
.selectGenderTable{
	margin-left: 6%;
	text-align: auto;
}
.td1{
	padding-left: 10%;
	padding-right: 10%;
}
.radio1{
	font-size: 17px;
    width: 17px;
    height: 17px;
    margin-top: 10px;
}
.btnTable{
	width: -webkit-fill-available;
}
.check{
	color:red;
}
#name_check{
	color:red;
}
#birth_check{
	color:red;
}
#addbtn{
	margin-top:20px;
}
.addresstable{
	width:100%;
}